header {
    height: 90vh;
    padding-top: 2rem;
    overflow: hidden;
}


.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}



/* CTA */
.cta{
    margin-top: 1.8rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*---------------Header redeS---------*/
.header__socials{
    align-items: row;
    position: absolute;
    padding-top:100px;
    width: 0;
    height: 20px;
}
.header__socials::after{
    content:'';
    width: 1px;
    height: 2rem;
    background: var(--color-primary)
}

.header__me-image{
    width: 700px;
    height: 55%;
    margin-top: 30px;
    text-align: center;
    display:block;
    margin:20px 120px;
    background: linear-gradient(var(--color-primary), transparent);
    border:solid 2px;
    overflow: hidden;
    border-color: var(--color-primary);
    position: absolute;
    border-radius: 6%;
}

/*.me {
    background: linear-gradient(var(--color-primary), transparent);
    width:22rem;
    max-height: auto;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}*/

/*  ---------------TABLETS----------------- */
@media screen and (max-width: 1024px){
    header{
        height: 14cm;
    }
    .header__me-image{
        width: 660px;
        height: 280px;
        margin: 20px 50px;
        border:solid 2px;
        border-color: var(--color-primary);
        border-radius: 6%;
    }
    .header__socials{
        align-items: row;
        gap: 10rem;
        position: relative;
        height:100px;
        left: 0;
        bottom: 6rem;
        margin-top:2rem;
        width: 20px;
    }
}
    /*  ---------------PHONES----------------- */
@media screen and (max-width: 600px){
    header{
        height: 48vh;
    }
    .header__me-image{
        width: 350px;
        height: 150px;
        margin: 20px 0px;
        text-align: center;
        background: linear-gradient(var(--color-primary), transparent);
        border:solid 2px;
        overflow: hidden;
        border-color: var(--color-primary);
        position: absolute;
        border-radius: 6%;
    }
.header__socials{
    display: none;
}
}
